.status {
	padding: 0 15px 15px;
	position: absolute;
	text-align: center;

	.components-button {
		margin: 0 5px;
	}

	&__site-link.is-link {
		font-size: 16px;
	}

	&__message-container {
		display: inline-block;
		margin-top: 0;
	}

	&__message {
		display: flex;
		align-items: center;
		line-height: 1.8;

		.components-spinner {
			transform: scale(0.8);
			background-color: currentColor;
		}

		&-icon {
			transform: scale(1.25);
		}

		.components-spinner,
		&-icon {
			margin: 0 0.8ch 0 0;
		}
	}
}
