@import "../../_colors.scss";

.status {
	padding: 0 15px 15px;
	position: absolute;
	text-align: center;

	.components-button {
		margin: 0 5px;
	}

	&__message-container {
		display: inline-block;
		margin: 0;
	}

	&__message {
		display: flex;
		align-items: center;
		line-height: 1.8;

		.components-spinner {
			transform: scale(0.8);
			background-color: currentColor;

			&::before {
				background-color: #fff;

				.theme-dark & {
					background-color: #000;
				}
			}
		}

		&-icon {
			transform: scale(1.25);
		}

		.components-spinner,
		&-icon {
			margin: 0 0.8ch 0 0;
		}
	}

}
