@import "../../_colors.scss";

.preferences-panel {
	&__directory-select > label,
	&__input > label {
		display: block;
		margin: 10px 0;
		color: $dark-gray-700;

		.theme-dark & {
			color: $light-gray-200;
		}
	}

	&__directory-select > button {
		background: none;
		border: none;
		color: $dark-gray-700;
		cursor: pointer;
		display: block;
		font-size: inherit;
		margin: 10px 0;
		padding: 0;
		text-decoration: underline;

		.theme-dark & {
			color: $light-gray-200;
		}
	}

	&__input--inline > label {
		display: inline-block;
		margin-right: 10px;
	}

	&__input > input {
		background-color: $light-gray-100;
		border-radius: 3px;
		border: 1px solid $light-gray-100;
		color: $dark-gray-700;
		padding: 5px 10px;

		.theme-dark & {
			color: $light-gray-200;
			background-color: $dark-gray-400;
			border: 1px solid $light-gray-200;
		}
	}

	&__input--short > input {
		width: 50px;
	}
}
