@import "../../_colors.scss";

.preferences-panel {
	&__directory-select {
		margin-bottom: 1rem;
	}

	&__directory-select-path {
		margin-bottom: 4px;
	}

	&__directory-select .components-button {
		.theme-dark & {
			color: $light-gray-200;

			&:focus {
				background: transparent;
			}
		}
	}

	&__directory-select label,
	&__input label {
		.theme-dark & {
			color: $light-gray-200;
		}
	}
}
