@import "../../_colors.scss";

.preferences-panel {
	&__directory-select > label,
	&__input > label {
		display: block;
		margin: 10px 0;
		.theme-light & {
			color: $dark-gray-700;
		}
		.theme-dark & {
			color: $light-gray-200;
		}
	}

	&__directory-select > button {
		border: none;
		text-decoration: underline;
		cursor: pointer;
		background: none;
		display: block;
		font-size: inherit;
		margin: 10px 0;
		padding: 0;
		.theme-light & {
			color: $dark-gray-700;
		}
		.theme-dark & {
			color: $light-gray-200;
		}
	}

	&__input--inline > label {
		display: inline-block;
		margin-right: 10px;
	}

	&__input > input {
		padding: 5px 10px;
		border-radius: 3px;
		.theme-light & {
			color: $dark-gray-700;
			background-color: $light-gray-100;
			border: 1px solid $light-gray-100;
		}
		.theme-dark & {
			color: $light-gray-200;
			background-color: $dark-gray-400;
			border: 1px solid $light-gray-200;
		}
	}

	&__input--short > input {
		width: 50px;
	}
}
