@import "../../_colors.scss";

.tabs {
	&__headings {
		border-bottom: 1px solid #ccc;
		color: $dark-gray-700;
		padding: 20px 15px 10px;

		.theme-dark & {
			color: $light-gray-200;
		}
	}

	&__heading {
		margin-right: 20px;
		padding-bottom: 10px;
		cursor: pointer;
	}

	&__heading--active {
		color: $blue-wordpress-700;
		border-bottom: 1px solid $light-gray-100;

		.theme-dark & {
			color: $blue-medium-200;
			border-bottom-color: $dark-gray-400;
		}
	}

	&__pages {
		color: $dark-gray-700;
		padding: 20px 15px;

		.theme-dark & {
			color: $light-gray-200;
		}
	}

	&__page--active {
		display: block;
	}

	&__page--inactive {
		display: none;
	}
}

