.pages {
	height: 100%;
	position: relative;
	overflow: hidden;
}

.pages .page {
	height: 100%;
	position: absolute;
	left: 350px;
	width: 350px;
	background: #fff;
}

.pages .page0,
.pages .page-enter-done,
.pages .page-exit {
	left: 0;
}

.pages .page-enter-active {
	transition: 300ms;
	left: 0;
}

.pages .page-exit-active {
	transition: 300ms;
	left: 350px;
}

.header {
	height: 35px;
	padding: 10px;
	color: #82878c;
	border-bottom: 1px solid #ccc;
	display: flex;
	flex-direction: row;
}

.title {
	margin: 0;
	flex: auto;
	display: flex;
	flex-direction: row;
}

.logo {
	padding: 5px;
	height: 25px;
	fill: #82878c;
}

.title span {
	padding-left: 5px;
	font-size: 18px;
	font-weight: normal;
	margin: auto 0;
}
