@import "../../_colors.scss";

.pages {
	height: 100%;
	position: relative;
	overflow: hidden;

	&__page {
		height: 100%;
		position: absolute;
		left: 350px;
		width: 350px;
		.theme-light & {
			color: $dark-gray-700;
			background-color: $light-gray-100;
		}
		.theme-dark & {
			color: $light-gray-200;
			background-color: $dark-gray-400;
		}
	}

	&__page.page0,
	&__page-transition-enter-done,
	&__page-transition-exit {
		left: 0;
	}

	&__page-transition-enter-active {
		transition: 300ms;
		left: 0;
	}

	&__page-transition-exit-active {
		transition: 300ms;
		left: 350px;
	}

	&__page-header {
		height: 35px;
		padding: 10px;
		display: flex;
		align-items: center;
		.theme-light & {
			color: $dark-gray-700;
			border-bottom: 1px solid $dark-gray-400;
		}
		.theme-dark & {
			color: $light-gray-200;
			border-bottom: 1px solid $light-gray-100;
		}
	}

	&__page-title-logo {
		margin: 5px;
		height: 25px;
		.theme-light & {
			fill: $blue-wordpress-700;
		}
		.theme-dark & {
			fill: $blue-medium-100;
		}
	}

	.components-icon-button .dashicon {
		.theme-dark & {
			fill: $blue-medium-100;
		}
	}

	.components-icon-button:not(:disabled):not([aria-disabled="true"]):not(.is-default):hover,
	.components-icon-button:not(:disabled):not([aria-disabled="true"]):not(.is-default):active,
	.components-icon-button:not(:disabled):not([aria-disabled="true"]):not(.is-default):focus {
		.theme-dark & {
			color: $light-gray-200;
			background-color: $dark-gray-700;
		}
	}

	.components-button.is-link {
		.theme-light & {
			color: $blue-medium-500;
		}
		.theme-dark & {
			color: $blue-medium-200;
		}
	}

	&__page-title {
		font-size: 18px;
		font-weight: normal;
		margin: 0 0 0 5px;
	}

	.preferences-button {
		margin-left: auto;
	}
}
