.pages {
	height: 100%;
	position: relative;
	overflow: hidden;
}

.pages .page {
	height: 100%;
	position: absolute;
	left: 350px;
	width: 350px;
	background: #fff;
}

.pages .page0,
.pages .page-enter-done,
.pages .page-exit {
	left: 0;
}

.pages .page-enter-active {
	transition: 300ms;
	left: 0;
}

.pages .page-exit-active {
	transition: 300ms;
	left: 350px;
}
