@import "../../_colors.scss";

.pages {
	height: 100%;
	position: relative;
	overflow: hidden;

	&__page {
		background-color: $light-gray-100;
		height: 100%;
		left: 350px;
		position: absolute;
		width: 350px;

		.theme-dark & {
			background-color: $dark-gray-400;
		}
	}

	&__page.page0,
	&__page-transition-enter-done,
	&__page-transition-exit {
		left: 0;
	}

	&__page-transition-enter-active {
		transition: 300ms;
		left: 0;
	}

	&__page-transition-exit-active {
		transition: 300ms;
		left: 350px;
	}

	&__page-header {
		align-items: center;
		border-bottom: 1px solid $light-gray-500;
		color: $dark-gray-500;
		display: flex;
		height: 55px;
		padding: 10px;

		.theme-dark & {
			border-bottom-color: $light-gray-100;
			color: $light-gray-200;
		}
	}

	&__page-title-logo {
		fill: $blue-wordpress-700;
		height: 25px;
		margin: 5px;

		.theme-dark & {
			fill: $blue-medium-100;
		}
	}

	.theme-dark & .components-icon-button .dashicon {
		fill: $blue-medium-100;
	}

	.theme-dark & .components-icon-button:not(:disabled):not([aria-disabled="true"]):not(.is-default):hover,
	.theme-dark & .components-icon-button:not(:disabled):not([aria-disabled="true"]):not(.is-default):active,
	.theme-dark & .components-icon-button:not(:disabled):not([aria-disabled="true"]):not(.is-default):focus {
		background-color: $dark-gray-700;
	}

	.components-button.is-link {
		color: $blue-medium-500;

		.theme-dark & {
			color: $blue-medium-200;
		}
	}

	&__page-title {
		font-size: 18px;
		font-weight: normal;
		margin: 0 0 0 5px;
	}

	.preferences-button {
		margin-left: auto;
	}
}
