@import "../_colors.scss";

.tray-pointer {
	border-bottom: 8px solid $light-gray-100;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	height: 0;
	margin: 0 auto;
	width: 0;

	.theme-dark & {
		border-bottom-color: $dark-gray-400;
	}
}

body.trayright .tray-pointer {
	margin-right: 10px;
}

.testpress {
	background-color: #fff;
	color: $dark-gray-900;
	height: 340px;

	.theme-dark & {
		background-color: $dark-gray-400;
		color: $light-gray-200;
	}
}

.components-button.is-large {
	.theme-dark & {
		color: $light-gray-200;
		background-color: $dark-gray-400;
		box-shadow: inset 0 -1px 0 $dark-gray-700;
	}
}
