@import "../_colors.scss";

.tray-pointer {
	height: 0;
	width: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;

	.theme-light & {
		border-bottom: 8px solid $light-gray-100;
	}
	.theme-dark & {
		border-bottom: 8px solid $dark-gray-400;
	}
	margin: 0 auto;
}

body.trayright .tray-pointer {
	margin-right: 10px;
}

.testpress {
	background-color: #fff;
	color: #191e23;
	height: 340px;
	.theme-light & {
		color: $dark-gray-700;
		background-color: $light-gray-100;
	}
	.theme-dark & {
		color: $light-gray-200;
		background-color: $dark-gray-400;
	}
}

.components-button.is-large {
	.theme-dark & {
		color: $light-gray-200;
		background-color: $dark-gray-400;
		box-shadow: inset 0 -1px 0 $dark-gray-700;
	}
}
