.tray-pointer {
	height: 0;
	width: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #fff;
	margin: 0 auto;
}

.testpress {
	background-color: #fff;
	color:#000;
	height: 290px;
}

.header {
	height: 35px;
	padding: 10px;
	color: #82878C;
	border-bottom: 1px solid #ccc;
	display: flex;
	flex-direction: row;
}

.title {
	margin: 0;
	flex: auto;
	display: flex;
	flex-direction: row;
}

.logo {
	padding: 5px;
	height: 25px;
	fill: #82878C;
}

.title span {
	padding-left: 5px;
	font-size: 18px;
	font-weight: normal;
	margin: auto 0;
}

.quit-button {
	border: none;
	background: none;
	cursor: pointer;
}

.quit-button .gridicon {
	fill: #82878C;
}

@keyframes testpress-logo-spin {
	from { transform: rotate( 0deg ); }
	to { transform: rotate( 360deg ); }
}
